@import '../../color-and-font.scss';

footer {
  text-align: center;
  font-family: $main-font;
  color: whitesmoke;
  width: 100%;
  bottom: 0;
  background: #242424;
}

.footer-container .first-footer {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
}

.first-footer{
  align-items: center;
  .footer-header{
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
    padding-bottom: 4px;
  }
  .footer-body{
    width: 50%;
    text-align: justify;
    padding: 2px;
    font-size: 15px;
  }
}

.second-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer-left{ 
  font-size: 15px;
  padding-right: 45px;
}